footer {
    background-color: $main-blue;
    color: #fff;
}

.footer {
    &__desc {
        padding: 3rem 0;
        color: #fff;
        a {
            color: #fff;
            display: block;
            font-weight: lighter;
            &:hover {
                color: $hover-link;
            }
        }
        p {
            color: #ccc;
            font-weight: lighter;
            line-height: 1.3;
        }
    }

    &__licence {
        background-color: #333333;
        padding: 1rem;
        text-align: center;
        p {
            font-weight: lighter;
            margin-bottom: 0 !important;
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 991px) {
    .footer {
        &__desc {
            a {
                line-height: 2;
            }
            .col-md-2 {
                margin-bottom: 1rem;
            }
        }
    }
}
